[submodule "external/Box2D"]
	path = external/Box2D
	url = https://github.com/erincatto/box2d
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "testapp/controllers/Sumobot4WheelExample/nsumo"]
	path = testapp/controllers/Sumobot4WheelExample/nsumo
	url = https://github.com/artfulbytes/nsumo.git
